.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: dodgerblue;
  padding: 10px;
  gap: 0; 
}

.container div p {
  font-size: 24px;   
  text-align: center; 
  font-weight: bold;
}

h2 {
  font-size: 30px;  
  text-align: center;
  font-weight: bold;
}

.container div {
  background-color: #eee;
  border: 1px solid black; 
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.container img {
  width: 100%;
  height: auto;
}
